<div class="wrapper">
  <div>
    <h2 class="text-center p-2">View Specialization</h2>

    <table class="table p-3">
      <thead class="thead-dark text-center">
        <tr>
          <th scope="col">Specialization Code</th>
          <th scope="col">Specialization Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <td>ANE</td>
          <td>Anesthesiologist</td>
          <td> <button>View Doctor</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>