<div class="wrapper">
  <div>
    <h2 class="text-center p-2">View Today's Surgery</h2>

    <table class="table p-3">
      <thead class="thead-dark text-center">
        <tr>
          <th scope="col">Surgery Id</th>
          <th scope="col">Doctor Id</th>
          <th scope="col">Surgery Date</th>
          <th scope="col">End Time</th>
          <th scope="col">Start Time</th>
          <th scope="col">Surgery Category</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <td>5000</td>
          <td>1001</td>
          <td>01/01/2011</td>
          <td>19</td>
          <td>17</td>
          <td>Surgery Category</td>
          <td> <button>Edit Surgery Time</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>